.footer {
    background: $onyx;
    display: grid;
    grid-template-columns: 1fr;
    color: $platinum;
    height: 100px;
    align-items: center;

    @include respond-to('medium') {
        grid-template-columns: 2fr 1fr;
    }
}
.footer__links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;

    a {
        text-decoration: none;
        color: $platinum;
    }

    @include respond-to('medium') {
        margin-left: 15%;
        margin-right: 40%;
    }
}
.footer__marca {
    text-align: center;
}
