.navigation__image{
    width:81px;
    height:34px;
}
.navigation {
    background: $eerie-black;
    padding: 20px;
}
.navigation__link-ruddypink {
    color: $ruddy-pink !important;
}
.principal-image__image{
    width:100%;
    margin-top:80px;
}
.principalimage {
    position: relative;
    display: inline-block;
    text-align: center;
}