.section-precios {
    margin-bottom: -2px;
    background-image: url("../../assets/img/bg-price.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.cards-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    padding-bottom: 40px; 
}
.card-flexbox__body {
    height: 380px;

    &:hover {
        box-shadow: 7px 9px 2px 1px rgba(0, 0, 0, 0.2);
        cursor:pointer;
    }
}
.card-flexbox__boton1 {
    position: relative;
    top: 100px;
    width: 100%;
    background: $ball-blue;
    border-radius: 0%;
    color: $white;
    font-weight: bold;

    &:hover {
        background: $blue-lagoon;
        color: $white;
    }

    &:focus {
        background: $gray;
        color: $white;
    }
}
.card-flexbox__boton2 {
    position: relative;
    top: 20px;
    width: 100%;
    background: $ball-blue;
    border-radius: 0%;
    color: $white;
    font-weight: bold;

    &:hover {
        background: $blue-lagoon;
        color: $white;
    }

    &:focus {
        background: $gray;
        color: $white;
    }
}
ul {
    margin-left: 15px;
    margin-top: 20px;

    li {
        padding: 3px;
    }
}
.container__titulo2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding-top: 200px;
    color: $white;
}
.container__titulo1 {
    color: $raising-black;
}













