.section-caracteristicas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-caracteristicas__grafico, .section-caracteristicas__descripcion {
    padding: 0px 20px 40px 20px;
    text-align: center;

    @include respond-to('medium') {
        text-align: left;
    }
}

h3 {
    padding-bottom: 15px;
}

p {
    margin-bottom: 3px;
}
.section-caracteristicas__grafico {
    animation: aparecer 5s infinite;
}